<!-- <p>
  guardies works!
</p> -->


<!-- <ul class="absencies">
  <li *ngFor="let absencia of absencies">
    <a routerLink="/detail/{{ absencia.id }}">
      <span class="badge">{{ absencia.id }}</span> {{ absencia.data }}
    </a>
  </li>
</ul> -->

<!-- <ion-card *ngFor="let guardia of guardies">
  <span class="badge"> {{ guardia.data }} </span>
  <span class="badge"> {{ guardia.hora }} </span>
  <span class="badge"> {{ guardia.professor }} </span>
</ion-card> -->

<ion-col size="8" offset="2" class="ion-text-left" *ngFor="let guard of data.guards.dailyGuards | keyvalue"> 
  <ion-card *ngFor="let g of guard.value">
    <ion-card-header>
      <ion-card-title>{{g.grup}}</ion-card-title>
      <ion-card-subtitle>{{g.espai}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Materia: {{g.materia}}</p>
      <p>Professor: {{g.professor}}</p>
      <p>Feina a fer: {{g.feina}}</p>
    </ion-card-content>
  </ion-card>
</ion-col>