<ion-header [translucent]="true">
  <ion-toolbar> 
    <ion-title>
      Absències
    </ion-title>
    <ion-item button (click)="showLogin()"> 
      <ion-icon 
        icon="person-circle-outline"
        slot="end"
        size="large"
      ></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row><ion-col> </ion-col></ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="8" offset="2" class="ion-text-center">
        <ion-button [hidden]="absenciesService.absences.isAbsentIndex != -1"
          expand="block" size="large"
          (click)="substitueixme()"
          >Substitueix-me!</ion-button>
        <ion-item [hidden]="absenciesService.absences.isAbsentIndex == -1">
          <ion-label><h1>Absència notificada</h1></ion-label>
          <ion-button id="edita-absencia" fill="clear" (click)="openModal(absenciesService.absences.isAbsentIndex)">
            <ion-icon slot="end" name="caret-forward-outline" ></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
    </ion-row>
    <!-- ######################-->
    <!-- INTRODUCCIÓ DE TASQUES-->
    <!-- ######################-->
    <ion-row><ion-col size="8" offset="2">
      <ion-accordion-group value="futures">
        <h3>Introducció de tasques</h3>
        <app-absencies></app-absencies>
      </ion-accordion-group>
    </ion-col></ion-row>
  </ion-grid>



    <!-- ################-->
    <!-- INICI DE SESSIÓ -->
    <!-- ################-->
  <ion-modal [isOpen]="isLoginModalOpen" [canDismiss]="canDismiss"
    trigger="login" (willDismiss)="onLogin($event)">
    <ng-template>
      <ion-content [fullscreen]="false" class="component-content">
        <div *ngIf="absenciesService.user.is_logged_in">
          <ion-row><ion-col>
            <ion-button (click)="doLogout()">Tanca la sessió</ion-button>
            <ion-button (click)="this.isModalOpen=false">Torna</ion-button>
          </ion-col></ion-row>
        </div>
        <div *ngIf="modalType == 'login' && !absenciesService.user.is_logged_in">
          <ion-row>        
            <ion-col size-md="3" size="12" class="ion-padding ion-blue-bkg">          
              <img alt="Ionic logo" loading="lazy"
              src=""            
              />        
            </ion-col>        
            <ion-col size-md="9" size="12" class="welcome">          
              <ion-card-header>            
                <ion-card-title> Inicia la sessió </ion-card-title>          
              </ion-card-header>
              <ion-card-content> 
                <ion-item-group>
                <ion-item>
                  <ion-label>Usuari</ion-label>
                  <ion-input type="text" [(ngModel)]="usuari" placeholder="Adreça de correu"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Contrasenya</ion-label>
                  <ion-input type="password" [(ngModel)]="contrasenya" ></ion-input>
                </ion-item> 
                <ion-text 
                  (click)="recordaContrasenya()">
                  <a href="#" (click)="recordaContrasenya()"
                  >Recordar contrasenya</a>
                </ion-text> 
              </ion-item-group> 
              </ion-card-content>  
              <ion-item lines="none">
                <ion-button (click)="showCrear()" 
                color="primary"  slot="start" fill="outline"
                size="medium"
              > Crear usuari </ion-button>         
              <ion-button (click)="doLogin()" 
                color="primary"  slot="end"
                size="medium"
              > Entrar </ion-button>
              </ion-item>      
            </ion-col>      
          </ion-row>  
        </div>

        <div *ngIf="modalType == 'remember' && !absenciesService.user.is_logged_in">  <!-- RECORDAR CARD -->
        </div>

        <div *ngIf="modalType == 'create' && !absenciesService.user.is_logged_in">  <!-- CREAR CARD -->
          <ion-row>        
            <ion-col size-md="3" size="12" class="ion-padding ion-blue-bkg">          
              <img alt="Ionic logo" loading="lazy"
              src=""            
              />        
            </ion-col>        
            <ion-col size-md="9" size="12" class="welcome">          
              <ion-card-header>            
                <ion-card-title> Creació del compte d'usuari </ion-card-title>          
              </ion-card-header>
              <ion-card-content> 
                <ion-item-group>
                <ion-item>
                  <ion-label>Adreça de correu</ion-label>
                  <ion-input type="text" [(ngModel)]="usuari"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Contrasenya</ion-label>
                  <ion-input type="password" [(ngModel)]="contrasenya"></ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Contrasenya</ion-label>
                  <ion-input type="password" placeholder="Torna a introduir la contrasenya"></ion-input>
                </ion-item> 
              </ion-item-group> 
              </ion-card-content>  
              <ion-item lines="none">
                <ion-button (click)="showLogin()" 
                color="primary"  slot="start" fill="outline"
                size="medium"
              > Login </ion-button>         
              <ion-button (click)="createUser()" 
                color="primary"  slot="end"
                size="medium"
              > Crear usuari </ion-button>
              </ion-item>  
            </ion-col>      
          </ion-row>  
          <ion-row>
            <ion-col>
            </ion-col>
          </ion-row>  
        </div>

      </ion-content>
    </ng-template>
  </ion-modal>
WA

    <!-- ######################-->
    <!-- MODAL D'INTRODUCCIÓ DE TASQUES-->
    <!-- ######################-->
    <ion-modal [isOpen]="isTaskModalOpen"
      trigger="tasks" (willDismiss)="onLogin($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Introduir tasques</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content [fullscreen]="true" class="component-content">
          <ion-row>
            <ion-col>
              <ion-button></ion-button>
            </ion-col>
            <ion-col>
              <ion-item><ion-text>hola</ion-text></ion-item>
              <ion-item><ion-text>hola</ion-text></ion-item>
              <ion-item><ion-text>hola</ion-text></ion-item>
            </ion-col>
          </ion-row>
        </ion-content>
      </ng-template>
    </ion-modal>


    <!-- #########################-->
    <!-- MODAL D'AFEGIR O EDITAR ABSÈNCIES-->
    <!-- #########################-->
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="modal_cancel()">Cancel·la</ion-button>
        </ion-buttons>
        <ion-title>Afegir</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal_confirm()" [strong]="true">Acceptar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true" class="component-content">
      <ion-list [inset]="true">
        <ion-item>
          <ion-toggle slot="start" [(ngModel)]="es_dia_complet" ></ion-toggle>
          <ion-label>Absència de dia complet</ion-label>
        </ion-item>
      </ion-list>
      <ion-list [inset]="true">
        <ion-accordion-group value="completa" [hidden]="!es_dia_complet">
          <ion-accordion value="start">
          <ion-item slot="header">
            <ion-label>Comença</ion-label>
            <ion-note slot="end"> {{ data_inici }} </ion-note>
          </ion-item>
          <ion-datetime
            #startDatetime
            presentation="date"
            slot="content"
            min="2022-01-01"
            max="2023-12-31"
            (ionChange)="data_inici = str2str(startDatetime.value)"
          ></ion-datetime>
        </ion-accordion>
        <ion-accordion value="end">
          <ion-item slot="header">
            <ion-label>Acaba</ion-label>
            <ion-note slot="end"> {{ data_fi }} </ion-note>
          </ion-item>
          <ion-datetime
            #endDatetime
            presentation="date"
            slot="content"
            min="2022-01-01"
            max="2023-12-31"
            (ionChange)="data_fi = str2str(endDatetime.value)"
          ></ion-datetime>
        </ion-accordion>
        </ion-accordion-group>
            <ion-item slot="header" [hidden]="es_dia_complet">
              <ion-label>Dia de l'absència</ion-label>
              <ion-note slot="end"> {{ absDate }} </ion-note>
            </ion-item>
            <ion-datetime [hidden]="true"
              #absDatetime
              presentation="date"
              slot="content"
              (onIonChange)="absDate = time2str(absDatetime.value)"
            ></ion-datetime>
            <ion-label  [hidden]="true"
              slot="content">Hora d'inici</ion-label>
            <ion-datetime  [hidden]="true"
              slot="content" presentation="time"></ion-datetime>
            <ion-label  [hidden]="true"
              slot="content">Hora d'acabament</ion-label>
            <ion-datetime  [hidden]="true"
              slot="content" presentation="time"></ion-datetime>
      </ion-list>
    </ion-content>
    <ion-grid slot="content"> 
      <ion-row>
        <ion-col>
          <ion-datetime slot="start" presentation="time"></ion-datetime>
        </ion-col>
        <ion-col>
          <ion-datetime slot="end" presentation="time"></ion-datetime>
        </ion-col>
      </ion-row>
    </ion-grid> 

  </ng-template>
</ion-modal>
  <!-- ###############-->
  <!-- MENU ABSÈNCIES -->
  <!-- ###############-->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="large" (click)="llistaAbsencies()">
      <ion-icon name="calendar"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  
</ion-content>
