<ion-header [translucent]="true">
  <ion-toolbar> 
    <!-- <ion-title>
      Absències
    </ion-title> -->
    <ion-item button (click)="showLogin()"> 
      <ion-label slot="end"
        >{{ AS.user.name }}</ion-label>
      <ion-icon 
        icon="person-circle-outline"
        slot="end"
        size="large"
      ></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row [hidden]="AS.user.is_logged_in != 0"><ion-col>
      Carregant l'aplicació  
    </ion-col></ion-row>
    <ion-row [hidden]="AS.user.is_logged_in != -1"><ion-col>
      L'usuari no està autenticat. Utilitze el menú superior. 
    </ion-col></ion-row>
    <ion-row class="ion-align-items-center" [hidden]="AS.user.is_logged_in != 1">
      <ion-col class="ion-text-center">
        <ion-button [hidden]="AS.absences.isAbsentIndex != -1"
          expand="block" size="large"
          (click)="substitueixme()"
          >Substitueix-me!</ion-button>
        <ion-item [hidden]="AS.absences.isAbsentIndex == -1">
          <ion-label><h2>Absència notificada</h2></ion-label>
          <ion-button id="edita-absencia" fill="clear" 
          (click)="openModal(AS.absences.isAbsentIndex)">
            <ion-icon slot="end" name="caret-forward-outline" ></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
    </ion-row>
    <!-- ######################-->
    <!-- INTRODUCCIÓ DE TASQUES-->
    <!-- ######################-->
    <ion-row><ion-col >
      <app-absencies (notifica)="notifica($event)"
      ></app-absencies>
    </ion-col></ion-row>
  </ion-grid>



    <!-- ################-->
    <!-- INICI DE SESSIÓ -->
    <!-- ################-->
  <ion-modal [isOpen]="isLoginModalOpen" [canDismiss]="canDismiss"
    trigger="login" (willDismiss)="onLogin($event)">
    <ng-template>
      <ion-content [fullscreen]="false" class="component-content">
        <div *ngIf="AS.user.is_logged_in == 1">
          <ion-row><ion-col class="ion-text-center">
            <ion-button (click)="doLogout()">Tanca la sessió</ion-button>
            <ion-button (click)="this.isLoginModalOpen=false">Torna</ion-button>
          </ion-col></ion-row>
        </div>
        <div *ngIf="modalType == 'login' && AS.user.is_logged_in == -1">
          <ion-row>        
            <ion-col size-md="3" size="12" class="ion-padding ion-blue-bkg">          
              <img alt="Ionic logo" loading="lazy"
              src=""            
              />        
            </ion-col>        
            <ion-col size-md="9" size="12" class="welcome">          
              <ion-card-header>            
                <ion-card-title> Inicia la sessió </ion-card-title>          
              </ion-card-header>
              <ion-card-content> 
                <ion-item-group>
                <ion-item>
                  <ion-label>Usuari</ion-label>
                  <ion-input type="text" [(ngModel)]="usuari" placeholder="Adreça de correu"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Contrasenya</ion-label>
                  <ion-input type="password" [(ngModel)]="contrasenya" ></ion-input>
                </ion-item> 
                <!-- <ion-text 
                  (click)="recordaContrasenya()">
                  <a href="#" (click)="recordaContrasenya()"
                  >Recordar contrasenya</a>
                </ion-text>  -->
              </ion-item-group> 
              </ion-card-content>  
              <ion-item lines="none">
                <ion-button (click)="showCrear()" 
                color="primary"  slot="start" fill="outline"
                size="medium"
              > Crear usuari </ion-button>         
              <ion-button (click)="doLogin()" 
                color="primary"  slot="end"
                size="medium"
              > Entrar </ion-button>
              </ion-item>      
            </ion-col>      
          </ion-row>  
        </div>

        <div *ngIf="modalType == 'remember' && AS.user.is_logged_in == -1">  <!-- RECORDAR CARD -->
        </div>

        <div *ngIf="modalType == 'create' && AS.user.is_logged_in == -1">  <!-- CREAR CARD -->
          <ion-row>        
            <ion-col size-md="3" size="12" class="ion-padding ion-blue-bkg">          
              <img alt="Ionic logo" loading="lazy"
              src=""            
              />        
            </ion-col>        
            <ion-col size-md="9" size="12" class="welcome">          
              <ion-card-header>            
                <ion-card-title> Creació del compte d'usuari </ion-card-title>          
              </ion-card-header>
              <ion-card-content> 
                <ion-item-group>
                <ion-item>
                  <ion-label>Adreça de correu</ion-label>
                  <ion-input type="text" [(ngModel)]="usuari"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Contrasenya</ion-label>
                  <ion-input type="password" [(ngModel)]="contrasenya"></ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label>Contrasenya</ion-label>
                  <ion-input type="password" placeholder="Torna a introduir la contrasenya"></ion-input>
                </ion-item> 
              </ion-item-group> 
              </ion-card-content>  
              <ion-item lines="none">
                <ion-button (click)="showLogin()" 
                color="primary"  slot="start" fill="outline"
                size="medium"
              > Login </ion-button>         
              <ion-button (click)="createUser()" 
                color="primary"  slot="end"
                size="medium"
              > Crear usuari </ion-button>
              </ion-item>  
            </ion-col>      
          </ion-row>  
          <ion-row>
            <ion-col>
            </ion-col>
          </ion-row>  
        </div>

      </ion-content>
    </ng-template>
  </ion-modal>

    <!-- ######################-->
    <!-- MODAL D'INTRODUCCIÓ DE TASQUES-->
    <!-- ######################-->
    <ion-modal [isOpen]="isTaskModalOpen"
      trigger="tasks" (willDismiss)="setTasks($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Introduir tasques</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content [fullscreen]="true" class="component-content">
          <ion-row>
            <ion-col>
              <ion-item><ion-textarea
              placeholder="Introdueix els comentaris o la feina que han de fer els alumnes durant la classe"
              [autoGrow]="true" [(ngModel)]="taskText"
              ></ion-textarea></ion-item>
            </ion-col>
          </ion-row>
          <ion-row><ion-col>
            <ion-button
            (click)="setTasks()"
            >Acceptar</ion-button>
          </ion-col></ion-row>
        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- #########################-->
    <!-- MODAL D'AFEGIR O EDITAR ABSÈNCIES-->
    <!-- #########################-->
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="modal_cancel()">Cancel·la</ion-button>
        </ion-buttons>
        <ion-title>Afegir</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal_confirm()" [strong]="true">Acceptar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true" class="component-content">
      <ion-list [inset]="true">
        <ion-item>
          <ion-toggle slot="start" [(ngModel)]="es_dia_complet" ></ion-toggle>
          <ion-label>Absència de dia complet</ion-label>
        </ion-item>
      </ion-list>
      <ion-list [inset]="true">
        <ion-accordion-group value="completa" [hidden]="!es_dia_complet">
          <ion-accordion value="start">
            <ion-item slot="header">
              <ion-label>Comença</ion-label>
              <ion-note slot="end"> {{ data_inici }} </ion-note>
            </ion-item>
            <ion-datetime
              #startDatetime
              presentation="date"
              slot="content"
              min="2022-01-01"
              max="2023-12-31"
              (ionChange)="data_inici = date.str2str(startDatetime.value)"
            ></ion-datetime>
          </ion-accordion>
          <ion-accordion value="end">
            <ion-item slot="header">
              <ion-label>Acaba</ion-label>
              <ion-note slot="end"> {{ data_fi }} </ion-note>
            </ion-item>
            <ion-datetime
              #endDatetime
              presentation="date"
              slot="content"
              min="2022-01-01"
              max="2023-12-31"
              (ionChange)="data_fi = date.str2str(endDatetime.value)"
            ></ion-datetime>
          </ion-accordion>
        </ion-accordion-group>
        <ion-accordion-group value="parcial">
          <ion-accordion value="data">
            <ion-item slot="header" [hidden]="es_dia_complet">
              <ion-label>Dia de l'absència</ion-label>
              <ion-note slot="end"> {{ data_inici }} </ion-note>
            </ion-item>
            <ion-datetime [hidden]="es_dia_complet"
              #absDatetime
              presentation="date"
              slot="content"
              (ionChange)="data_inici = date.str2str(absDatetime.value)"
            ></ion-datetime>
          </ion-accordion>
          <ion-accordion value="hora-ini">
            <ion-item slot="header" [hidden]="es_dia_complet">
              <ion-label>Hora d'inici</ion-label>
              <ion-note slot="end"> {{ hora_ini }} </ion-note>
            </ion-item>
            <ion-datetime  [hidden]="es_dia_complet"
            #iniHora
            slot="content" presentation="time"
            (ionChange)="hora_ini = iniHora.value.substring(11,16)"
            ></ion-datetime>
          </ion-accordion>
          <ion-accordion value="hora-fi">
            <ion-item slot="header" [hidden]="es_dia_complet">
              <ion-label>Hora d'acabament</ion-label>
              <ion-note slot="end"> {{ hora_fi }} </ion-note>
            </ion-item>
            <ion-datetime  [hidden]="es_dia_complet"
            #fiHora
            slot="content" presentation="time"
            (ionChange)="hora_fi = fiHora.value.substring(11,16);"
            ></ion-datetime>
          </ion-accordion>
        </ion-accordion-group>    
        <div class="ion-align-items-center ion-text-center delete-button">
          <ion-button color="danger" class="ion-align-items-center ion-text-center"
          (click)="deleteAbsence()"
          >Eliminar absència</ion-button></div>
      </ion-list>
      
    </ion-content>
    <ion-grid slot="content" [hidden]="true"> 
      <ion-row>
        <ion-col>
          <ion-datetime slot="start" presentation="time"></ion-datetime>
        </ion-col>
        <ion-col>
          <ion-datetime slot="end" presentation="time"></ion-datetime>
        </ion-col>
      </ion-row>
    </ion-grid> 

  </ng-template>
</ion-modal>
  <!-- ###############-->
  <!-- MENU ABSÈNCIES -->
  <!-- ###############-->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="large" (click)="llistaAbsencies()">
      <ion-icon name="calendar"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  
</ion-content>
