ion-col {
    border: solid 1px black;
    text-align: center;
}

* {
    font-size: 0.9em;
}

.fab-button {
    font-size: 2em;
}

ion-grid{
    --ion-grid-columns: 11;
    --ion-grid-column-padding: 3px;
}